.reg-form{
    justify-content: center;
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.reg-button{
   text-align: center;
}

.signup-button{
    background-color:rgb(99, 104, 104);
     -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    color: white;
}

